* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    align-items: flex-start;
}

/* Header Image */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    text-align: center;
    width: 275px;
    height: 275px;
}

/* Title */
header {
    text-align: center;
    background-color: papayawhip;
}

header h1 {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h3 {
    color: gray;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navigation bar */
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
}

li {
    display: inline-block;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li a {
    color: gray;
    padding: 16px;
    text-decoration: none;
}